.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  background: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-button-next {
  right: 0;
}

.mySwiper .swiper-button-next:after {
  font-size: 20px;
}
.mySwiper .swiper-button-prev {
  left: 0;
}
.mySwiper .swiper-button-prev:after {
  font-size: 20px;
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
